#inputBox_inputs {
    position: relative;
}

#inputBox_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#inputBox_inputs input {
    text-align: center;
    border-top: 2px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 0;
    margin: 0;
    outline: none;

    /*-webkit-user-select:none;*/
    /*-moz-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-ms-user-select:none;*/
    /*user-select: none;*/

    color: transparent;
    display: inline-block;
    font-size: 2rem;
    text-shadow: 0 0 0 gray;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
}

#inputBox_inputs input:focus {
    background-color: #ddd;
    outline: none;
}

#inputBox_inputs input:first-of-type {
    border-left: 2px solid #ddd;
    border-radius: 8px 0 0 8px;
}

#inputBox_inputs input:last-of-type {
    border-right: 2px solid #ddd;
    border-radius: 0 8px 8px 0;
}
